body{
    background-color: #f1f1f1;
}

.btn-primary{
    background-color: #277caea4;
    border-color: #277caea4;
}

.btn-primary:hover{
    background-color: #3d8bb8;
    border-color: #3d8bb8;
}


.btn-success{
    background-color: #27AE60;
    border-color: #27AE60;
}
.btn-success:hover{
    background-color: #21924e;
    border-color: #21924e;
}
.img-primary{

    width: 100px;
    margin: 15px;
}

.form-select:hover{
    cursor: pointer;
}